body {
  font-family: Arial, sans-serif;
  background-color: #f2c9c9;
}

nav {
  background-color: #f49494;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  color: #7b4141;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
}

button {
  background-color: #f49494;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}
