.page {
  padding: 2rem;
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem; 
}

.about-me-container {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem; 
}

.profile-pic {
  width: 450px;
  height: 450px;
  border-radius: 80%;
  object-fit: cover;
  margin-right: 5rem; 
  margin-bottom: 0.5rem; 
}

h1 {
  font-size: 56px;
  color: #FF69B4;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

p {
  font-size: 25px;
  color: #FF1493;
  font-weight: bold;
  margin-bottom: 1rem;
}

.resume-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #FF69B4;
  color: #FFF1E6;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
}

.resume-button:hover {
  background-color: #FF1493;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
}
