
.page {
  padding: 2rem;
  background-color: #FFB6C1; /* Lighter shade of pink background color */
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 36px;
  color: #FF69B4; /* Hot pink color for the heading */
  margin-bottom: 1rem;
}

p {
  font-size: 18px;
  color: #FF1493; /* Darker shade of hot pink for the text */
}
