.project-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.proj-name {
  font-size: 46px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #faeeee;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.thumbnail-circle {
  width: 610px;
  height: 600px;
  border-radius: 50%;
  display: cover;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #fff;
  overflow: hidden;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  display: cover;
  object-fit: cover;
  border-radius: 50%;
}

.project-name {
  font-size: 44px;
  margin-top: 10px;
  color: #f8f8f8;
}

.project-links {
  margin-top: 15px;
}

.project-button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #d01c76;
  border-radius: 5px;
  background-color: #ffc0cb;
  color: #cb997e;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.project-button:hover {
  background-color: #de549e;
  color: #ffe8d6;
}